.pos-r{position: relative;}
.overflow-h{overflow: hidden;}
.navbar-nav li a{position: relative;}
.navbar-nav li a::after{
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    left: 15px;right: 15px;;
    background-color: transparent;
}
.navbar-nav li a:hover::after{
    background-color: #000;
}

/* carousel */
.carousel-caption{height: 60px;}
.carousel-caption>h3{font-size: 20px;line-height: 1;margin-top: 0; margin-bottom: 10px;}
.carousel-caption>.title{font-size: 12px;line-height: 1;}
.carousel-indicators{display: none;}

/* component */
.cTabHead a{display: block; text-decoration: none;color: inherit;}
.cTabHead .title{font-size: 22px;text-align: center;}
.cTabHead .en-title{font-size: 14px;color: rgba(0,0,0,.4);text-align: center;}
.cTabHead .nav{display: flex;}
.cTabHead .nav a{position: relative;flex: 1;text-align: center;margin-top: 20px;color: rgba(0,0,0,.5)}
.cTabHead .nav a::before{
    content: "";
    width: 2px;
    height: 9px;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    left: 0;top: 6px;
}
.cTabHead .nav a:first-child::before{
    content: "";
    display: none;
}


@media (min-width:768px){
    /*carousel*/
    .carousel-caption{height: 100px;}
    .carousel-caption>h3{font-size: 40px;line-height: 1;margin-top: 0; margin-bottom: 20px;}
    .carousel-caption>.title{font-size: 24px;line-height: 1;}
    /*carousel end*/
    
}
@media (min-width:992px){
    /*carousel*/
    .carousel-indicators{display: block;}
    /*carousel start*/
    
    /* cTabHead */
    .cTabHead a{display: block; text-decoration: none;color: inherit;}
    .cTabHead .title{font-size: 22px;text-align: center;float: left;}
    .cTabHead .en-title{font-size: 14px;color: rgba(0,0,0,.4);text-align: center;float: left;margin-top: 10px;margin-left: 15px}
    .cTabHead .nav{display: flex;margin-left: 15%}
    .cTabHead .nav a{flex: 1;text-align: center;margin-top: 8px}
}
@media (min-width:1200px){
    /*carousel*/
    .carousel-caption>h3{font-size: 64px;line-height: 1;margin-top: 0; margin-bottom: 40px;}
    .carousel-caption>.title{font-size: 30px;line-height: 1;}
    /*carousel end*/
}
@media (min-width:1400px){
    
}
@media (min-width:1600px){

}
