.navbar-nav li a {
    position: relative;
}

.navbar-nav li a::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #000;
    bottom: 0px;
    left: 17px;
    right: 17px;
    display: none;
}

.navbar-nav li a:hover::after {
    content: '';
    display: block;
}

/* banner */
.carousel-caption {
    height: 70px;
}

.carousel-inner .carousel-caption div {
    font-size: 18px;
    line-height: 1;
}

.carousel-inner .carousel-caption h2 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1;
}

.carousel-indicators {
    display: none;
}

/* 板块标题 start*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

::selection {
    color: #eee;
    background: rgb(1, 132, 255);
}

.cCommon-title {
    width: 100%;
    line-height: 18px;
}

.cCommon-title .ZH-title {
    font-weight: bold;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.cCommon-title .EN-title {
    line-height: 1;
    text-align: center;
    margin: 5px auto 0;
    color: rgba(0, 0, 0, 0.4);
}

.cCommon-title .nav {
    display: flex;
    margin-top: 30px;
    line-height: 18px;
    /* margin-left: 17%; */
}

.cCommon-title .nav a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    flex: 1;
    line-height: 1;
    position: relative;
}

.cCommon-title .nav a::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0px;
    background: rgba(0, 0, 0, .3);
    width: 1px;
    height: 8px;
}

.cCommon-title .nav a:first-child::before {
    display: none;
}

.cCommon-title .nav a:hover {
    color: #000;
}


/* 联系我们 */

.contact{
    width: 100%;
    background: url(../img/worldmap.png) center/cover;
}

.contact .contactBox{
    margin-top: 50px;
}
.contact .contactBox h1{
    font-size: 16px;
    color: #fff;
    border-left: 2px solid #fff;
    line-height: 1;
    padding-left: 8px;
}
.contact .companyName {
        margin-top: 30px;
        margin-left: 10px;
}
.contact .logo{
    font-size: 14px;
    font-weight: bold;
    color: #ffcb2c;
    float: left;
}
.contact .name{
    float: left;
    font-size: 10px;
    color: #ffcb2c;
    margin-left: 10px;
    margin-top: 3px;

}
.contact ul{
    padding-left: 10px;
    margin-top: 15px;
}
.contact ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    padding: 2px 0;
}
.contact .tableBox{
    width: 310px;
    height: 360px;
    margin: 50px auto 0;
    padding: 30px;
    background: #fff;
    overflow: hidden;
}
.contact .tableBox form{
    padding: 0 10px;
    margin-top: 35px;
}
.contact .tableBox form>div{
    margin-bottom: 15px;
    position: relative;
}
.contact .tableBox form>div::before {
    content: '';
    width: 175px;
    height: 1px;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, .3);
    left: 60px;
}
.contact .tableBox h1{
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}
.contact .tableBox span{
    color: rgba(0, 0, 0, .3);
    font-size: 12px;
    white-space: pre;
}
.contact .tableBox input{
    border: none;
    outline: none;
}

.contact .tableBox button{
    width: 100px;
    height: 30px;
    border: #ffcb2c 1px solid;
    background: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #ffcb2c;
    margin:20px 32% 0;

}
.contact .ICP{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color:rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin-top: 50px;
}





@media (min-width:480px) {
    .carousel-caption {
        height: 100px;
    }

    .carousel-inner .carousel-caption div {
        font-size: 24px;
    }

    .carousel-inner .carousel-caption h2 {
        font-size: 18px;
    }
}

@media (min-width:768px) {
    .carousel-caption {
        height: 100px;
    }

    .carousel-inner .carousel-caption div {
        font-size: 32px;
    }

    .carousel-inner .carousel-caption h2 {
        font-size: 24px;
    }

    .cCommon-title {
        margin-top: 20px;
    }

    .cCommon-title .container {
        width: 90%;
        padding: 0;
        margin: 0 auto;
    }

    .cCommon-title .ZH-title {
        float: left;
    }

    .cCommon-title .EN-title {
        float: left;
        margin-left: 3px;
        line-height: -5px;
    }

    .cCommon-title .nav {
        line-height: 18px;
        margin-top: 0;
    }

    .cCommon-title .nav a {
        line-height: 18px;
    }

    .cCommon-title .nav a::before {
        top: 5px;
    }

    .contact .tableBox{
        margin-top: 100px;
    }
    .contact .companyName{
        margin-top: 110px;
        margin-bottom: 40px;
    }


}

@media (min-width:992px) {
    .carousel-caption {
        height: 120px;
    }

    .carousel-inner .carousel-caption div {
        font-size: 48px;
    }

    .carousel-inner .carousel-caption h2 {
        font-size: 30px;
    }

    .carousel-indicators {
        display: block;
    }

    .cCommon-title .ZH-title {
        margin-left: 30px;
    }


}

@media (min-width:1200px) {
    .carousel-caption {
        height: 140px;
    }

    .carousel-inner .carousel-caption div {
        font-size: 42px;
    }

    .carousel-inner .carousel-caption h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .carousel-indicators {
        display: block;
    }

    .cCommon-title {
        width: 1200px;
        margin: 0 auto ;
    }

    .cCommon-title .container {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    .cCommon-title .ZH-title {
        font-size: 20px;
        margin-left: 0;
    }

    .cCommon-title .EN-title {
        font-size: 14px;
    }

    .cCommon-title .nav {
        margin-left: 17%;
    }

    .cCommon-title .nav a {
        font-size: 14px;
    }

.contact .container{
    width: 1200px;
    margin: 0 auto;
}

.contact .contactBox{
    margin-top: 100px;
}
        .contact .tableBox {
            width: 684px;
            height: 443px;
            margin-top: 130px;

        }
 .contact .contactBox h1 {
     font-size: 24px;
 }
.contact .logo{
    font-size: 24px;
    font-weight: normal;
}
.contact .name{
    font-size: 16px;
    margin-top: 7px;

}
.contact .companyName{
    margin-top: 120px;
    margin-bottom: 35px;
}
.contact ul li{
    font-size: 14px;
    padding: 10px 0;
}
.contact .tableBox{
    padding: 50px 88px;
    box-sizing: border-box;
}
.contact .tableBox h1{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1;
    margin-bottom: 40px;
}
.contact .tableBox span{
    font-size: 14px;
}
.contact .tableBox form{
    padding: 0 72px;
}
.contact .tableBox form>div{
    margin-bottom: 24px;
}
.contact .tableBox form input{
    width: 294px;
}
.contact .tableBox form>div::before {
    content: '';
    width: 294px;
    height: 1px;
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, .3);
    left: 70px;
}
.contact .tableBox button{
    width: 138px;
    height: 38px;
    margin-left: 187px;
}

}

@media (min-width:1400px) {
    .carousel-caption {
        height: 160px;
    }

    .carousel-inner .carousel-caption div {
        font-size: 50px;
    }

    .carousel-inner .carousel-caption h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .carousel-indicators {
        display: block;
    }

    .cCommon-title .container {
        width: 1200px;
    }

    .cCommon-title .ZH-title {
        font-size: 22px;
    }

    .cCommon-title .EN-title {
        font-size: 16px;
    }
}

@media (min-width:1600px) {
    .carousel-caption {
        height: 180px;
    }

    .carousel-inner .carousel-caption div {
        font-size: 64px;
    }

    .carousel-inner .carousel-caption h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .carousel-indicators {
        display: block;
    }

    .cCommon-title .container {
        width: 1200px;
    }
}